section {
  margin-top: 0px;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.link {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 746px) {
  .link {
    width: 100%;
  }
}
